#############################
### Docker
#############################

/.env
/docker-compose.override.yml

#############################
### Workspace
#############################

# build file
/workspace/codekata
